.booking-item-box {
  display: flex;
  border-radius: 23px;
  filter: drop-shadow(0px 4px 7px #00000030);
  background-color: white;
  margin-bottom: 2rem;
  padding: 5px;
  padding-bottom: -5px;
  max-height: 175px;
}

.booking-img {
  border-radius: 20px;
}

.booking-content {
  width: 100%;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  h2 {
    margin: 0px;
    margin-bottom: 0.25rem;
  }
}

.top-section{
  margin-top: 0.75rem;
  .start-end-date{
    margin: 0px;
    margin-top: -0.25rem;
    font-weight: normal;
    font-size: 20px;
  }
}

.booking-btn-price {
  display: flex;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.75rem;
  .booking-price{
    margin: 0px;
    align-self:flex-end;
    padding-bottom: 0.25rem;
    font-size: 20px;
  }
}

// h2 {
//   margin-bottom: 10px;
//   margin-top: 20px;
//   padding-left: 5px;
//   color: black;
// }
// h3 {
//   font-size: 20px;
//   color: black;
// }
