.booking-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  // margin: 5% 2% 5% 5%;

}

// .booking-item-container {

//   flex-wrap: wrap;

//   gap: 40px;
//   width: 100%;
//   // margin-left: 70px;
//   // margin-right: 70px;
//   background-color: white;
// }