@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}
.spin::before {
  animation: 0.75s linear infinite spinner;
  animation-play-state: inherit;
  border: solid 3px rgb(255, 255, 255);
  border-bottom-color: rgba(0, 0, 0, 0);
  border-radius: 50%;
  content: "";
  height: 15px;
  width: 15px;
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate3d(-50%, -50%, 0);
  will-change: transform;
}

.btn {
  background-color: #2732d4;
  padding: 1.5rem;
  width: 12rem;
  border-radius: 40px;
  border: none;
  filter: drop-shadow(0px 0px 4px #00000025);
  h4 {
    color: white;
    margin: 0px;
  }
  cursor: pointer;
  &-book {
    background-color: #2732d4;
    padding: 1.5rem;
    width: 15rem;
    border-radius: 40px;
    border: none;
    filter: drop-shadow(0px 0px 4px #00000025);
    h4 {
      color: white;
      margin: 0px;
    }
    cursor: pointer;
    &-disabled {
      background-color: #d0d0d0;
      padding: 1.5rem;
      width: 15rem;
      border-radius: 40px;
      border: none;
      filter: drop-shadow(0px 0px 4px #00000025);
      h4 {
        color: white;
        margin: 0px;
        color: rgb(95, 95, 95);
      }
    }
  }
  
  &-cancel {
    background-color: #ff6138;
    padding: 1.5rem;
    width: 13rem;
    border-radius: 40px;
    border: none;
    filter: drop-shadow(0px 0px 4px #00000025);
    h4 {
      color: white;
      margin: 0px;
    }
    cursor: pointer;
  }
  &-cancel-clicked {
    background-color: #ff6138;
    padding: 1.5rem;
    width: 13rem;
    border-radius: 40px;
    border: none;
    filter: drop-shadow(0px 0px 4px #00000025);
    h4 {
      color: white;
      margin: 0px;
      margin-left: 0.5rem;
    }
    cursor: pointer;
  }
  &-message{
    background-color: #2732d4;
    width: 20rem;
    border-radius: 20px;
    border: none;
    filter: drop-shadow(0px 0px 4px #00000025);
    cursor: pointer;
    h4 {
      margin: 0px;
    }
    img {
      filter: invert(100%);
    }
  }
}
