.category-links-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.CategoryLinksBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-left: 70px;
  margin-right: 70px;
  width: 70%;
  max-width: 1100px;
  min-width: 900px;
}

// .category-group {
// }

.category-group > Link > img {
  width: 10px;
}
