.category-links-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.CategoryLinksBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-left: 70px;
  margin-right: 70px;
  width: 70%;
  max-width: 1100px;
  min-width: 900px;
}

// this is how you change the colour of the little people
// .category-group > img {
//   filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(119%);
// }

.category-group {
  cursor: pointer;
}
