.home-package-item {
  text-decoration: none;
  border-radius: 23px;
  padding: 5px;
  filter: drop-shadow(0px 4px 15px #00000030);
  background-color: white;
  padding-bottom: 1rem;
  cursor: pointer;
  height: 24rem;
}

.home-img {
  border-radius: 20px;
}

.package-card-title {
  margin: 0px;
  margin-bottom: 0.25rem;
  margin-top: 0.25rem;
  padding-left: 6px;
  color: black;
}
.package-card-text {
  margin: 0px;
  font-size: 18px;
  margin-top: -0.1rem;
  padding-left: 7px;
  color: black;
}

.distance-packagelist {
  font-size: 16px;
  font-weight: normal;
}
