.gallery-container {
  width: 100%;
  display: flex;
  padding-bottom: 50px;
  padding-top: 10px;
  justify-content: center;
}

.package-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 30px;
  row-gap: 40px;
  margin-left: 70px;
  margin-right: 70px;
  max-width: 1400px;
  min-width: 1000px;
}