.gallery-container {
  position: relative;
  width: 100%;
  display: flex;
  padding-bottom: 50px;
  padding-top: 1rem;
  justify-content: center;
  background-color: white;
}

.package-gallery {
  padding-top: 0.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 15px;
  row-gap: 40px;
  margin-left: 70px;
  margin-right: 70px;
  max-width: 1400px;
  min-width: 1000px;
  min-height: 101vh; // a potential way to keep scroll on category click
}